body {
  font-family: Arial, sans-serif;
  background: grey;
  background-color: #eaeaea;
}

.container {
  width: 300px;
  margin: 100px auto;
  background:lightgray;
  padding: 20px;
  border-radius: 5px;
  color: antiquewhite;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 6px;
  background: #eaeaea;
  margin-top: 5px;
  cursor: pointer;
}
